app-sidebar {
  display: flex;
  flex-direction: column;

  background-color: rgb(32, 34, 37);
  text-align: center;

  user-select: none;
}

.avatar {
  border-radius: 50%;
  margin: 1em 1em 0 1em;

  pointer-events: none;
  user-select: none;
}

.username {
  font-weight: bold;
  font-size: 2em;
  user-select: none;
}

.line {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.sidebar-button {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  padding-right: 1em;

  text-align: right;
  user-select: none;
  font-size: 1.5em;
  text-decoration: underline;
}

.sidebar-button:hover {
  background-color: rgba(250, 250, 250, 0.2);
}
