html, body, app-root {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(42, 44, 49, 1);

  color: #fafafa;
  font-family: sans-serif;
}

input {
  border: 1px solid rgba(255, 255, 255, 0.2);
  outline: none;
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
  color: rgba(250, 250, 250, 1)
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row {
  display: flex;
  flex-direction: column;
}

.header-image {
  align-self: center;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
}
