<h3>Current Track:</h3>
<span *ngIf="currentTrack">'{{currentTrack.title}}' uploaded by '{{currentTrack.author}}' ({{calculateDurationString(currentTrack.length)}})</span>
<span *ngIf="!currentTrack">Nothing</span>
<h3>Upcomming:</h3>
<table class="scheduleTable">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Length</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let track of tracks">
      <td>{{track.title}}</td>
      <td>{{track.author}}</td>
      <td align="right">{{calculateDurationString(track.length)}}</td>
    </tr>
  <tr class="scheduleEmpty" *ngIf="tracks.length === 0"><td colspan="3">No tracks in queue</td></tr>
  </tbody>
  <button (click)="refreshSchedule()">a</button>
</table>
