app-schedule {
  width: 100%;
  overflow-y: scroll;
  padding: 1em;
}

.scheduleTable {
  width: 100%;
}

.scheduleTable thead {
  background-color: #7f7f7f;
}

.scheduleEmpty {
  text-align: center;
}
